# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.log

# Rider / ReSharper
.idea/
*.DotSettings.user

# NuGet
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

# VS Code
.vscode/

# ASP.NET Core runtime
wwwroot/lib/